body {
   	overscroll-behavior: contain;  /* turns off drag down refresh effect on the SMARTPHONE */
}

#WrapAll 
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}
 
#startButt
{
	position: absolute;
   	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #fff;
	padding: 8px 16px;
	border: 2px solid #000;
	cursor: pointer;
    left: 200px;
	top: 16px;
		
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 40px;	
	
	background:-webkit-linear-gradient(top, #a3a3a3, #000);
	background:-moz-linear-gradient(top, #a3a3a3, #000);
	background: linear-gradient(top, #a3a3a3, #000);
	
	-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
	box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
	
	-webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/* #mainButt #startButt:hover */
#startButt:hover 
{
  background: -webkit-linear-gradient(top, #acc7a3, #506651);
  background: -moz-linear-gradient(top, #acc7a3, #506651);
  background: linear-gradient(top, #acc7a3, #506651);
}

/* #mainButt #startButt:active */
#startButt:active
{
  background: -webkit-linear-gradient(top, #858565, #c5c9a9);
  background: -moz-linear-gradient(top, #858565, #c5c9a9);
  background: linear-gradient(top, #858565, #c5c9a9);
}

#yourTime {
  position: absolute;
  top: 30px;
  right: 650px;
  color: black;
  font-size: 1.2em;
  border: 2px solid #999;
  border-radius: 3px;
  padding: 5px;
  visibility: hidden;
 }
 
 #youwinmsg {
   position: absolute;
   top: 30px;
   left: 200px;
   visibility: hidden;
 }
 
  
 /* So begins the Drop down menu  styling */
 .dropbtn {
  position: absolute;
  left: 20px;
  min-width: 140px;
  background-color: #3498DB;
  color: white;
  padding: 8px;
  font-size: 13px;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
 }

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 35px;
  top: 32px;
  background-color: #f1f1f1;
  min-width: 140px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
 
#japWrdsBtns1  #J0, #J1, #J2, #J3, #J4, #J5, #J6, #J7, #J8, #J9  {
	left: 180px;
  	margin-left: 9px;
	margin-top: 6px;
	margin-bottom: 2px;
 	border: 2px solid blue;
	visibility: hidden;
 	padding-left: 10px;
	padding-right: 10px;
	font-size: 0.85em;
	border-radius: 6px;
	cursor: pointer;
	
	font-weight: bold;
    position: relative;
}

#startingWord {
	 position: relative;
	 font-family: Arial, bold;
	 font-size: 1em;
	 margin-left: 23px;
	 visibility: visible;
 }
 

.doit {
	visibility: visible;
}

   
#marshmallow    {
	position: relative;
	left: 30px;
	top: 105px;
	z-index: -1;
}   

  
/* @keyframes mymove {
  from {top: 0px;}
  to {top: 400px;}
}
 */
 
.fade-inMMallow  {
   animation: fadeIn ease  60s;
  -webkit-animation: fadeIn ease 60s;
  -moz-animation: fadeIn ease  60s;
  -o-animation: fadeIn ease  60s;
  -ms-animation: fadeIn ease 60s;
   /* transition: opacity 60s; */
}  

  @keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}  

 